@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}
.navbar h1 {
  color: #d6a255;
  font-size: 1.6rem;
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  color: #e1ad4b;
}
.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}

/* blog previews / list */
.blog-preview {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa;
}
.blog-preview:hover {
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
}


.blog-preview h2 {
  font-size: 20px;
  color: #e1ad4b;
  margin-bottom: 8px;
}

.blog-preview a{
  text-decoration: none;
}

/* blog details page */
.blog-details h2 {
  font-size: 1.6rem;
  color: #e1ad4b;
  margin-bottom: 10px;
}

.blog-details div {
  margin: 2rem 0;
  font-size: 1.2rem;
}

.blog-details button{
  background: #cb554a;
  color: #fff;
  border: 0;
  border-radius: 8px;
  cursor: pointer;
  padding: 5px 10px;
  font-size: 1rem;
}

.blog-details button:hover {
  background-color: rgb(220, 52, 40);
}

.blog-details .edit-link {
  background-color: rgb(231, 167, 50);
  margin-right: 1rem;
}

.blog-details .edit-link:hover {
  background-color: #d28c0a;
}




/* create new blog form */
.create {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}
.create label {
  text-align: left;
  display: block;
}
.create h2 {
  font-size: 20px;
  color: #eca130;
  margin-bottom: 30px;
}
.create input, .create textarea, .create select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}
.create button {
  background: #eaa82e;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

.create button:hover {
  background: #bb8b32;

}

/* edit blog detail page*/

.blog-details-edit input {
  font-size: 1.6rem;
  padding: 0.5rem;
  margin-bottom: 1rem;
  width: 300px;
}


.blog-details-edit textarea {
  display: block;
  border: 2px solid #c7c5c5;
  padding: 1.5rem;
  font-size: 1.2rem;
  resize: none;
  outline: none;
  width: 100%;
  height: 300px;
  margin:1rem 0
}


.blog-details-edit textarea:focus {
  border: 2px solid rgb(71, 69, 69);
}

.blog-details-edit .update-btn {
  background-color: #1e9a3f;
  color: #fff;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
  border: none;
  
}

.blog-details-edit .update-btn:hover {
  background-color: #2aaa57;
}